<footer id="footer">
    <ul id="social-icons">
        <li>
            <a
                href="https://www.facebook.com/inspireshortfilm/"
                target="_blank"
                rel="noreferrer"
                class="circle-link circle-link--blue"
            >
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a
                href="https://www.instagram.com/inspireshortfilm/"
                target="_blank"
                rel="noreferrer"
                class="circle-link circle-link--pink"
            >
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a
                href="https://twitter.com/film_inspire"
                target="_blank"
                rel="noreferrer"
                class="circle-link circle-link--red"
            >
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a
                href="https://www.tiktok.com/@inspirefilm?lang=en/"
                target="_blank"
                rel="noreferrer"
                class="circle-link circle-link--purple"
            >
                <i class="fab fa-tiktok"></i>
            </a>
        </li>
        <li>
            <a
                href="https://www.twitch.tv/inspireshortfilm"
                target="_blank"
                rel="noreferrer"
                class="circle-link circle-link--blue"
            >
                <i class="fab fa-twitch"></i>
            </a>
        </li>
        <li>
            <a
                href="https://www.imdb.com/title/tt14422428/"
                target="_blank"
                rel="noreferrer"
                class="circle-link circle-link--pink"
            >
                <i class="fab fa-imdb"></i>
            </a>
        </li>
    </ul>
    <span class="attribution">
        Site by&nbsp;
        <a
            href="https://www.linkedin.com/in/roberthall26/"
            target="_blank"
            rel="noreferrer"
            >Robert Hall</a
        >
    </span>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-XH3VQDN24W"
></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-XH3VQDN24W');
</script>
