<footer id="footer">
    <span class="attribution">
        Site by&nbsp;
        <a
            href="https://www.linkedin.com/in/roberthall26/"
            target="_blank"
            rel="noreferrer"
            >Robert Hall</a
        >
    </span>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-0VQQ3NEDGQ"
></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-0VQQ3NEDGQ');
</script>
