<head>
    <meta charset="UTF-8" />
    <title>Far & Wide Studios</title>
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Finger+Paint"
    />
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/styles.css" />
</head>
