<header id="header" class="container">
  <a href="/">
    <h1 id="page-title">Far &amp; Wide Studios</h1>
  </a>
  <nav id="nav">
    <ul>
      <li>
        <a href="/" class="{{#if (match '/' exact)}}active{{/if}}">Inspire</a>
      </li>
      <li>
        <a href="/about" class="{{#if (match '/about')}}active{{/if}}"
          >About Us</a
        >
      </li>
      <li>
        <a href="/team" class="{{#if (match '/team')}}active{{/if}}"
          >Our Team</a
        >
      </li>
    </ul>
  </nav>
</header>
