<aside>
    <nav>
        <ul>
            <li>
                <a
                    href="/team/rosanne"
                    class="{{#match '/team/rosanne'}}active{{/match}}"
                    >Rosanne</a
                >
            </li>
            <li>
                <a
                    href="/team/myrka"
                    class="{{#match '/team/myrka'}}active{{/match}}"
                    >Myrka</a
                >
            </li>
            <li>
                <a
                    href="/team/caitlyn"
                    class="{{#match '/team/caitlyn'}}active{{/match}}"
                    >Caitlyn</a
                >
            </li>
        </ul>
    </nav>
</aside>
