<aside id="sidebar" class="sidebar-layout__sidebar">
    <h3>Key Creatives</h3>
    <ul>
        <li>
            <a
                class="{{#if (match '/team/rosanne')}}active{{/if}}"
                href="/team/rosanne{{#if isMobile}}#rosanne{{/if}}"
                >Rosanne Howell</a
            >
        </li>
        <li>
            <a
                class="{{#if (match '/team/caitlyn')}}active{{/if}}"
                href="/team/caitlyn{{#if isMobile}}#caitlyn{{/if}}"
                >Caitlyn Cardoza</a
            >
        </li>
        <li>
            <a
                class="{{#if (match '/team/elisha')}}active{{/if}}"
                href="/team/elisha{{#if isMobile}}#elisha{{/if}}"
                >Elisha Kantor</a
            >
        </li>
        <li>
            <a
                class="{{#if (match '/team/myrka')}}active{{/if}}"
                href="/team/myrka{{#if isMobile}}#myrka{{/if}}"
                >Myrka Sanchez</a
            >
        </li>
    </ul>
    <h3>Collaborators</h3>
    <ul>
        <li>
            <a href="http://zeuspic.com/" target="_blank" rel="noreferrer"
                >Zeus Pictures</a
            >
        </li>
        <li>
            <a
                href="https://www.adrianbobb.com/"
                target="_blank"
                rel="noreferrer"
                >Exocentric</a
            >
        </li>
        <li>
            <a
                href="https://www.lanaigabriel.com/"
                target="_blank"
                rel="noreferrer"
                >La-Nai Gabriel</a
            >
        </li>
    </ul>
</aside>
