<aside id="sidebar" class="sidebar-layout__sidebar">
    <h3>Key Creatives</h3>
    <ul>
        <li>
            <a
                class="{{#match '/team/rosanne'}}active{{/match}}"
                href="/team/rosanne"
                >Rosanne Howell</a
            >
        </li>
        <li>
            <a
                class="{{#match '/team/caitlyn'}}active{{/match}}"
                href="/team/caitlyn"
                >Caitlyn Cardoza</a
            >
        </li>
        <li>
            <a
                class="{{#match '/team/elisha'}}active{{/match}}"
                href="/team/elisha"
                >Elisha Kantor</a
            >
        </li>
        <li>
            <a
                class="{{#match '/team/myrka'}}active{{/match}}"
                href="/team/myrka"
                >Myrka Sanchez</a
            >
        </li>
    </ul>
    <h3>Collaborators</h3>
    <ul>
        <li>
            <a href="http://zeuspic.com/" target="_blank" rel="noreferrer"
                >Zeus Pictures</a
            >
        </li>
        <li>
            <a
                href="https://www.adrianbobb.com/"
                target="_blank"
                rel="noreferrer"
                >Exocentric</a
            >
        </li>
        <li>
            <a
                href="https://www.lanaigabriel.com/"
                target="_blank"
                rel="noreferrer"
                >La-Nai Gabriel</a
            >
        </li>
    </ul>
</aside>
