* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem == 16px */
}

body {
    font-family: 'Montserrat';
    color: rgb(71, 67, 63);
    font-size: 1.6rem;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/canvas.jpg');
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Finger Paint';
    color: rgb(71, 67, 63);
    font-size: 2rem;
    margin-bottom: 24px;
    text-shadow: 0 0 4px white;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

p {
    margin-bottom: 32px;
}

.container {
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
    padding: 0 16px;
}

.drop-caps::first-letter {
    float: left;
    font-family: 'Finger Paint';
    font-size: 4.8rem;
    line-height: 1;
    padding-right: 4px;
}

.button {
    padding: 16px 32px;
    color: white;
    font-family: 'Finger Paint';
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(164 165 230), rgb(200 126 200));
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 32px;
}

.button:hover,
.button:active {
    background: linear-gradient(45deg, rgb(125 84 155), rgb(200 126 200));
}

.sidebar-layout {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.sidebar-layout__sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 24px;
    margin-right: 32px;
}

.sidebar-layout__content {
    flex: 1;
}

#nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#nav li {
    margin-right: 24px;
}

#nav li:last-of-type {
    margin-right: 0;
}

#nav a {
    padding: 12px 0;
}

#nav a:hover {
    color: black;
    font-weight: bold;
}

a.active {
    color: black;
    font-weight: bold;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#page-title {
    margin: 0;
}

#footer {
    margin: 32px;
    display: flex;
    justify-content: center;
}

#footer .attribution {
    font-size: 1.2rem;
}

.title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.title-block__content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.title-block__title {
    margin-bottom: 16px;
}

.title-block__image {
    max-width: 50%;
    margin-left: 32px;
}

.title-block--reversed {
    flex-direction: row-reverse;
}

.title-block--reversed .title-block__image {
    margin-left: auto;
    margin-right: 32px;
}

#home #hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home #hero-left {
    margin-right: 16px;
}

#home #hero-right {
    margin-left: 16px;
}

#home #hero-left,
#home #hero-right {
    flex-basis: 100%;
}

#home #hero-image {
    max-width: 100%;
}

#home #video {
    padding: 5% 0;
    background: linear-gradient(
        45deg,
        rgb(125 84 155),
        rgb(164 165 230),
        rgb(200 126 200)
    );
}

#home #video-container {
    width: 864px;
    max-width: 100%;
    margin: 0 auto;
}

#team #hero,
#about #hero {
    display: flex;
    margin-top: 32px;
}

#about #hero {
    align-items: flex-end;
}

#about #hero-left {
    flex: 1;
}

#about #hero-right {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: -10%;
    margin-left: -5%;
}

#about #hero-image {
    max-width: 100%;
}

#team #sidebar ul {
    margin-bottom: 48px;
}

#team #sidebar li {
    margin-bottom: 8px;
}

#team #sidebar a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 640px) {
    .sidebar-layout {
        flex-direction: column;
    }

    #header {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    #page-title {
        margin-bottom: 16px;
    }

    .title-block {
        flex-direction: column;
        justify-content: center;
    }

    .title-block__content {
        margin-bottom: 16px;
        background: none !important;
    }

    .title-block__image {
        margin: 0 auto !important;
        max-width: 60%;
    }

    #home #hero {
        display: block;
    }

    #home #hero-left {
        margin-bottom: 32px;
    }

    #about #hero {
        flex-direction: column;
    }

    #about #hero-left {
        order: 2;
    }

    #about #hero-right {
        justify-content: center;
        margin: 0;
    }

    #about #hero-image {
        max-width: 75%;
    }
}
